body {
  background-color: #ffff80;
}
.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  background-color: cornflowerblue;
  margin-top: 2rem;
}
p {
}
